.boxContainer {
    flex: 0.5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
  }
  
  .boxContainer__box {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .boxContainer__box textarea {
    width: 75%;
    height: 25%;
  }